<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCianrZGD34OxqUVX6qNBf_OgAxK-JgDvA</string>
	<key>GCM_SENDER_ID</key>
	<string>705105344614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>electuser.com</string>
	<key>PROJECT_ID</key>
	<string>elect-17c13</string>
	<key>STORAGE_BUCKET</key>
	<string>elect-17c13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705105344614:ios:cca09bc27a57c9460855a7</string>
</dict>
</plist>